body {
    width: 1440px;
    height: 1024px;
    border: 1px solid red;

}

/*-----header-----*/
header img {
    width: 268px;
    height: 93px;   
    margin-left: 588px;
    margin-top: 42px;
}

/*-----search bar-----*/
form {
    width: 1240px;
    height: 69px;
    margin-top: 17px;
    margin: auto;
    background: #E7E7E7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 500px;
    height: 22px;
    opacity: 25%;
    background: #E7E7E7;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-left: 22px;
}

button {
    width: 44px;
    height: 44px;
    background: #E7E7E7;
    border: none;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 32px;
    height: 32px;
}


/*-----filter area-----*/
.boxfilter {
    display: flex;
    flex-direction: column;
    margin: 15px 0 25px 100px;
    padding: 0;
    position: relative;
}

/*3 filtres suite aux selections*/
/*boite generale des 3 filtres de selections*/
#box-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*boite pour chacun des  3 filtres*/
.box1-select-ingredients,
.box2-select-appliances,
.box3-select-ustensils {
    width: 107px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*logo de fermeture*/
.fa-times-circle {
    margin-right: 5px;
}

/*definition generale des 3 filtres de choix*/
.box-choice {
    display: flex;
    flex-direction: row;
}

/*definition des 3 box filtres*/
.filter {
    width: 165px;
    height: 69px;
    margin-right: 15px;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* specificité de chaque boite*/
.box1 {
    background-color: #3282F7;
    position: relative;
}

.box2 {
    background-color: #68D9A4;
    position: relative;
}

.box3 {
    background-color: #ED6454;
    position: relative;
}

.box-extend {
    width: 450px;
   
    border-radius: 5px 5px 0 0;   
}

/*texte boite filtre*/
.box__text {
    width: 100%;
    border: none;
    margin-left: 5px;
    color: white;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box__text:hover {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    line-height: 12px;
}

/* champ input des filtres*/
::placeholder {
    color: white;
}

/*fleche basse du filtre*/
#chevron-down-1,
#chevron-down-2,
#chevron-down-3 {
    margin-right: 18px;
}

/*fleche haute du filtre*/
#chevron-up-1,
#chevron-up-2,
#chevron-up-3 {
    position: absolute;
    right: 18px;
}

/*box de la liste du filtre*/
/*ingredient*/
#box1-ingredients {
    width: auto;
    height: 325px;
    color: #FFFFFF;
    position: absolute;
    top: 69px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;    
}

::-webkit-scrollbar{
    width:0px;   
}

/*appareils*/
#box2-appliance {
    width: auto;
    height: auto;
    background-color: #68D9A4;
    color: #FFFFFF;
    position: absolute;
    top: 69px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    border-radius: 0 0 5px 5px;
}

/*Ustensiles*/
#box3-ustensils {
    width: auto;
    height: auto;
    background-color: #ED6454;
    color: #FFFFFF;
    position: absolute;
    top: 69px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    border-radius: 0 0 5px 5px;
}

/* texte dans les 3 filtres*/
.ingredient,
.appliance,
.ustensil {
    margin: 5px 0 5px 15px;
}

.ingredient-hide,
.appliance-hide,
.ustensil-hide {
    text-decoration: line-through white;
    color:black;
    user-select: none;
}

/*montrer cacher la liste du filtre*/
.hidden {
    visibility: hidden;
}



/*-----menu area-----*/
#allRecipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1240px;
    margin-left:100px ; 
}

figure {
    width: 380px;
    height: 364px;
    background-color: #E7E7E7;    
    border-radius: 5px;
    margin: 0;
    margin-bottom: 50px;  
}

figure img {
    width: 380px;
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}

figcaption {
    width: 380px;
    height: 186px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    
}

.name {
    width: auto;
    height: 22px;
    margin-left: 20px;    
    width:220px;
}

.duration {
    width: 85px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    margin-right: 20px;
}

.time {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.text {
    display: flex;    
}

.ingredients {
    width: 171px;
    height: 105px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Lato', sans-serif;
    padding: 0;
    list-style: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.description {
    width: 171px;
    height: 109px;
    margin-right: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    
}