body {
    width: 1440px;
    height: 1024px;
    border: 1px solid red;

}

/*-----header-----*/
header img {
    width: 268px;
    height: 93px;
    margin-left: 588px;
    margin-top: 42px;
}

/*-----search bar-----*/
form {
    width: 1240px;
    height: 69px;
    margin-top: 17px;
    margin-left: 100px;
    background: #E7E7E7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 500px;
    height: 22px;
    opacity: 25%;
    background: #E7E7E7;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-left: 22px;
}

button {
    width: 44px;
    height: 44px;
    background: #E7E7E7;
    border: none;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 32px;
    height: 32px;
}

/*-----filter area-----*/
.boxfilter {
    display: flex;
    margin: 15px 0 25px 100px;
    padding: 0;
}

.filter {
    width: 170px;
    height: 69px;
    margin-right: 20px;
    list-style: none;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.box1 {
    background-color: #3282F7;
}

.box2 {
    background-color: #68D9A4;
}

.box3 {
    background-color: #ED6454;
}

a .fas {
    width: 16px;
    height: 9.88px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

/*-----menu area-----*/

figure {
    width: 380px;
    height: 364px;
    background-color: #E7E7E7;    
    margin-left: 100px;
    border-radius: 5px;
}

figure img {
    width: 380px;
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}

figcaption {
    width: 380px;
    height: 186px;    
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.name {
    width: auto;
    height: 22px;
    margin-left: 20px;
}

.duration {
    width: 85px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    margin-right: 20px;
}

.time {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.text {
    display: flex;
}

.ingredients {
    width: 171px;
    height: 105px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Lato', sans-serif;
}

.description {
    width: 171px;
    height: 109px;
    margin-right: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
}